@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Niconne&family=Jura:wght@400;700&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
    background-color: white;
}

.navbar {
    margin-top: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 1.22rem;
}


.d-none {
    display: none !important;
}

.loader.simple-loader {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    place-content: center;
    overflow: hidden !important;
    right: 0px;
    top: 0;
    z-index: 1250;
}

.loader.simple-loader .loader-body {
    background: #fff url('../../assets/images/logogif1.gif') no-repeat center center;
    background-size: 20%;
    width: 100%;
    height: 100%;
}
.logo-container {
    background:linear-gradient(to bottom,
                #cecdcd 0%,
                #cecdcd 15%,
                #FF585D 34%);
    width: 20%;
}

.logo{
    border-bottom-right-radius: 30px;
    background: #fbfbfb;
}

.logo-img {
    width: 50px; /* o el tamaño que tenía la imagen */
    height: 60px;
    background-image: url('/assets/images/Colorlargo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .logo img {
    width: 200px;
    height: auto; 
    display: block;
} */

.nav-icons {
    display: flex;
    gap: 3vw ;
    justify-content: center;
    align-items: center;
    background: #FF585D;
    width: calc(100% - 70px);
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.nav-icon {
    margin-top: 8px;
    width: 27px;
    height: 30px;
    opacity: 0.9;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease-in-out;
}

.nav-logout-icon {
    margin-top: 8px;
    width: 27px;
    height: 30px;
    opacity: 0.9;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease-in-out;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.tooltip-bubble {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    display: none;
    transform: translateX(-50%);
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

/* CONTAINERS */
/* Estilos para el menú flotante */
.dropdown-menu-container {
    position: relative;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(-50%);
    background-color: rgba(6, 6, 6, 0.102);
    border-radius: 10px; /* Más redondeado */
    padding: 10px 0; /* Más margen */
    width: 160px; /* Ancho un poco mayor */
    display: none;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.072);
    z-index: 1000;
    backdrop-filter: blur(12px); /* Blur más suave */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición más fluida */
}

/* Estilo de los enlaces del menú */
.dropdown-menu a {
    display: block;
    padding: 12px 20px; /* Más espacio dentro de cada opción */
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s;
    font-size: 14px; /* Letra más grande */
    font-weight: 400; /* Letra más gruesa */
    text-align: center;
}

/* Estilo al pasar el mouse sobre los enlaces */
.dropdown-menu a:hover {
    background-color: #ffffff;
    color: #FF585D;

}

/* Mostrar el menú con efecto fade-in y leve desplazamiento */
.dropdown-menu-container:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(5px); /* Movimiento suave hacia abajo */
}

#form-wizard1 fieldset {
  display: none;
}

#form-wizard1 fieldset.active {
  display: block;
}



/* ------- */

/* IMAGES */


/* ------- */

