.selectize-control.multi .selectize-input {
    padding: 6px 8px;
    min-height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.selectize-control.multi .selectize-input > input {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

/* Estilo para cada etiqueta seleccionada */
.selectize-control.multi .selectize-input > div {
    background-color: #FF585D; /* Azul Bootstrap */
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 3px 4px 3px 0;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* Estilo para la "x" de eliminar */
.selectize-control.multi .selectize-input > div .remove {
    color: #fff;
    margin-left: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* Efecto al enfocar */
.selectize-input.focus {
    border-color: #ffffff00;
    box-shadow: 0 0 0 0.2rem rgba(13, 109, 253, 0);
}